CONFERENCE_SECRET_KEY=change-me
CONFERENCE_HOST=127.0.0.1
CONFERENCE_PORT=5000
CONFERENCE_DEBUG=false

CONFERENCE_DB_HOST=127.0.0.1
CONFERENCE_DB_PORT=1433
CONFERENCE_DB_USER=sa
CONFERENCE_DB_PASSWORD=
CONFERENCE_DB_NAME=test
CONFERENCE_DB_CHARSET=cp936

CONFERENCE_MAIL_HOST=smtp.126.com
CONFERENCE_MAIL_USER=
CONFERENCE_MAIL_PASSWORD=
CONFERENCE_MAIL_SENDER=
