<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="stylesheet" type="text/css" href="static/css/about.css">
    <script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="application/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jquery.tools.min.js"></script>

</head>
<body>
<!--头部-->
<header id="header">
    <!--头部的顶部-->
    <div class="headtp">
        <div class="container">
            <div class="fl">
                <a href="#" onclick="AddFavorite(window.location,document.title)">收藏首页</a>
                <a href="#">免费注册</a>
                <a href="#" target="_blank">会员登录</a>
            </div>
            <!--搜索框-->
            <div class="fr">
                <div class="search">
                    <form>
                        <input class="iptxt" type="text" onblur="if(this.value=='')this.value='搜索关键词...';" onfocus="if(this.value=='搜索关键词...')this.value='';" value="搜索关键词..." title="搜索" id="mykey" style="color: rgb(198, 198, 198);">
                        <a class="subtn" type="button" value="" id="mysub" href="javascript:void(0);"></a>
                        <script type="text/javascript">
                            $("#mysub").click(function () {
                                if ($.trim($("#mykey").val()) == "搜索") {
                                    alert("请输入关键字！");
                                    return;
                                }
                                location.href = "/aspx/pageabout.aspx?type=search&keyword=" + escape($("#mykey").val()) + "";
                            });
                            function AddFavorite(sURL, sTitle) {
                                sURL = encodeURI(sURL);
                                try{
                                    window.external.addFavorite(sURL, sTitle);
                                }catch(e) {
                                    try{
                                        window.sidebar.addPanel(sTitle, sURL, "");
                                    }catch (e) {
                                        alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
                                    }
                                }
                            }
                        </script>
                    </form>
                </div>


            </div>
            <!--搜索框end-->
        </div>
    </div>
</header>
<!--导航-->
<nav class="nav">
<div class="container">
<div class="navbar container">
    <img src="static/images/logo.jpg" height="51px" align="left">
    <ul>
        <li><a href="{{ url_for('index') }}">网站首页</a></li>
        <li id="m_about"><a href="{{ url_for('about2021') }}">关于协会</a>
            <div class="navbox abtnav">
                <div class="navlist">
                    <span class="navsj"></span>
                    <div class="navl fl">
                        <h2>关于协会</h2>
                        <dl>
                            <dd class="bd1" onmousemove="showbyid('rig1')"><a href="{{ url_for('about2021') }}">协会简介</a></dd>
                            <dd class="bd1" onmousemove="showbyid('rig2')"><a href="#">协会章程</a></dd>
                            <dd class="bd1" onmousemove="showbyid('rig3')"><a href="#">组织结构</a></dd>
                            <dd class="bd1" ><a href="#">入会须知</a></dd>
                        </dl>
                    </div>
                    <div class="navc fl" id="rig1" style="display:none">
                        <h3>协会简介</h3>
                        <p>上海思维科学研究会</p>
                        <a class="more" href="/about/0_1/">更多》</a>
                    </div>

                    <div class="navc fl" id="rig2" style="display:none">
                        <h3>协会章程</h3>
                        <p></p>
                        <a class="more" href="/about/0_2/">更多》</a>
                    </div>

                    <div class="navc fl" id="rig3" style="display:none">
                        <h3>组织结构</h3>
                        <!-- <p><img class="navczjg" src="images/zzjg.png" alt="组织结构图" /> -->
                            <a class="more" href="#">更多》</a>
                        </p>
                    </div>

                    <script>

                        function showbyid(bid) {
                            document.getElementById("rig1").style.display = "none";
                            document.getElementById("rig2").style.display = "none";
                            document.getElementById("rig3").style.display = "none";
                            document.getElementById(bid).style.display = "block";
                        }


                    </script>
                </div>
            </div>
        </li>
        <li id="m_news"><a href="{{ url_for('information') }}">信息中心</a></li>
        <li><a href="{{ url_for('contact') }}">联系我们</a></li>
    </ul>

</div>
</div>
</nav>

<!--主体部分-->
<div class="container clearfix">
    <!--左侧导航栏-->
    <div class="ltbox fl bd1">
        <div class="ltmenu">
            <div class="tit">
                <h2>关于会议</h2>
            </div>
            <ul class="menulist clearfix">
                <li class="cli"><a href="{{url_for('about2021')}}"><i></i>会议简介</a></li>
                <li class="current cli"><a href="{{url_for('host2021')}}"><i></i>主讲人</a></li>
                <li class="cli"><a href="{{url_for('procedure2021')}}"><i></i>会议议程</a></li>
                <!--                <li class="cli"><a href=""><i></i></a></li>-->
                <!--                <li class="cli"><a href=""><i></i>入会须知</a></li>-->
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="static/js/cur.js"></script>
    <!--右侧内容栏-->
    <div class="rtbox fr">
        <div class="rtit">
            <div class="srtit">
                <h2 class="fl"><i><img src="static/images/line_red.png"></i>会议简介&nbsp;|&nbsp; Website Building</h2>
                <p class="fr">当前位置：<a href="#">首页</a> &gt; <a href="{{url_for('about2021')}}">关于会议</a> &gt;<a href="#">会议简介</a> </p>
            </div>
        </div>
        <div class="rtcon abtbg">
            <div class="rtcontain aboutbox">

                <div class="xhtit">
                    <h1>主讲人</h1>
                    <div class="news_spec">标签：<a href="#" target="_blank"></a>时间：2021-11-20　点击：4329　来源：上海市思维科学研究会 </div>
<!--                    <div align="center"> <img src="images/Liu.jpg"></div>-->
                </div>
<!--                <p style="text-indent:2em;">-->
<!--                    <span style="font-size:20px;font-family:FangSong_GB2312;">刘晋，华盛顿州立大学计算机科学博士，上海海事大学教授，博士生导师；目前担任上海市思维科学研究会秘书长，上海市人工智能学会副秘书长，中国人工智能学会机器学习专委会委员，中国人工智能学会自然计算与数字智能城市专委会委员，上海市人工智能技术协会专家委员会委员，上海市科技专家库专家等学术兼职。自2009年至今已主持国家自然科学基金面上项目、国家社会科学基金重点项目、上海市科技创新行动计划重点项目等专业领域科研项目20余项，在国内外学术期刊与会议上发表SCI/EI检索科研论文80余篇，公开发明专利及软件著作权等40余项。主要研究方向：深度学习、情感计算、视觉与自然语言处理等。</span>-->
<!--                </p>-->
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">刘  晋		上海市思维科学研究会秘书长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">钱永刚		上海交通大学钱学森图书馆馆长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">张光鉴		中国思维科学学会筹备组组长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">王晓峰		上海市思维科学研究会会长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">郭爱克		中国科学院院士</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">李德华	华中科技大学教授，中国思维科学学会筹备组副组长 </span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">刘勤跃		渭南市科学思维学会副理事长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">汪  镭		上海市思维科学研究会副会长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">冯嘉礼		上海海事大学教授，上海市思维科学研究会前会长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">王晓峰		上海海事大学教授，上海市思维科学研究会会长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">李鸿仪		上海第二工业大学教授</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">邹晓辉     塞尔科技思维科学课题组组长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">柳下奕     柳下哲学院院长</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">周南海		思维科学独立研究者</span>
                </p>
                <p style="text-indent:2em;">
                    <span style="font-size:20px;font-family:FangSong_GB2312;">宋振东		山东管理学院</span>
                </p>
<!--                <div align="center"><img src="images/Gong.jpg"> </div>-->
<!--                <p style="text-indent:2em;">-->
<!--                    <span style="font-size:20px;font-family:FangSong_GB2312;">龚沛朱，上海海事大学软件工程硕士，情感计算方向在读博士生，精通机器学习、深度学习等新一代人工智能技术，已发表SCI/EI检索学术论文2篇，公开国家发明专利3项，参加国家自然科学基金面上项目、国家社会科学基金重点项目等科研项目多项，获上海市普通高等学校优秀毕业生，“华为杯”第十六届中国研究生数学建模竞赛国家二等奖，上海海事大学硕士研究生学业奖学金一等奖，全国软件和信息技术专业人才大赛上海市三等奖，“创青春”全国大学生创业大赛上海市铜奖，“汇创青春”大学生创业大赛上海市三等奖等学科竞赛奖励。</span>-->
<!--                </p>-->
                <!--                <p style="text-indent:2em;">-->
                <!--                    <span style="font-size:20px;font-family:FangSong_GB2312;">深圳市城市交通协会是由原“深圳市公路协会”、“深圳市公共道路协会”发展过来的。2003年2月25日，“深圳市公路协会”成立。我市大部制改革后，全市的公路和城市道路管理工作都整合到深圳市交通运输委员会统一进行管理，为了适应我市交通体制的改革，2009年6月30日，“深圳市公路协会”更名为“深圳市公共道路协会”。随着深圳市改革开放的不断深化以及交通行业发展的需要，协会业务范围进一步扩大，因此2014年4月2日，我会正式更名为“深圳市城市交通协会”。</span>-->
                <!--                </p>-->
                <!--                <p style="text-indent:2em;">-->
                <!--                    <span style="font-size:20px;font-family:FangSong_GB2312;">协会最高权力机构为会员大会，设立常务理事会和理事会。秘书处为协会常设办事机构，下设16个专业委员会。深圳市城市交通协会的宗旨是：以经济建设为中心，团结和组织广大城市交通行业从业单位和人员，遵守国家法律和政策，遵守社会道德风尚，规范行业行为，加强行业自律，促进城市交通行业的繁荣和发展，维护全体会员的合法权益，反应会员的诉求，充分发挥协会的桥梁和纽带作用，努力为会员服务。</span>-->
                <!--                </p>-->
            </div>

        </div>
    </div>
</div>

<!--底部-->
<footer id="footer">
    <div class="fttool">
        <div class="container">
        </div>
    </div>
    <div class="ftbt container">
        <div class="ftbt_left fl">
            <p>上海思维科学研究会  版权所有</p>
            <p>地址：上海市浦东新区</p>
            <p>联系方式：123456</p>
        </div>
        <div class="ftbt_right fr">
            <p>客服QQ：2295956241</p>
            <p>邮箱：123456@126.com</p>
        </div>
        <div class="middle fr"><img src="static/images/weixin.jpg" width="90" height="90"> </div>
    </div>
    <div class="copyright container">
        Copyright © 2021 womengda.cn All rights reserved.&nbsp;&nbsp;&nbsp;沪ICP备15048364号-1&nbsp;&nbsp;&nbsp;技术支持：上海思维科学研究会
    </div>
</footer>

</body>
</html>