<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--导航-->
    <script type="application/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.lazyload.min.js"></script>
</head>
<body>
<!--头部-->
<header id="header">
    <!--头部的顶部-->
    <div class="headtp">
        <div class="container">
            <div class="fl">
                <a href="#" onclick="AddFavorite(window.location,document.title)">收藏首页</a>
                <a href="#">免费注册</a>
                <a href="#" target="_blank">会员登录</a>
            </div>
            <!--搜索框-->
            <div class="fr">
                <div class="search">
                    <form>
                        <input class="iptxt" type="text" onblur="if(this.value=='')this.value='搜索关键词...';" onfocus="if(this.value=='搜索关键词...')this.value='';" value="搜索关键词..." title="搜索" id="mykey" style="color: rgb(198, 198, 198);">
                        <a class="subtn" type="button" value="" id="mysub" href="javascript:void(0);"></a>
                        <script type="text/javascript">
                            $("#mysub").click(function () {
                                if ($.trim($("#mykey").val()) == "搜索") {
                                    alert("请输入关键字！");
                                    return;
                                }
                                location.href = "/aspx/pageabout.aspx?type=search&keyword=" + escape($("#mykey").val()) + "";
                            });
                            function AddFavorite(sURL, sTitle) {
                                sURL = encodeURI(sURL);
                                try{
                                    window.external.addFavorite(sURL, sTitle);
                                }catch(e) {
                                    try{
                                        window.sidebar.addPanel(sTitle, sURL, "");
                                    }catch (e) {
                                        alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
                                    }
                                }
                            }
                        </script>
                    </form>
                </div>


            </div>
            <!--搜索框end-->
        </div>
    </div>
</header>
<!--导航-->
<nav class="nav">
<div class="container">
<div class="navbar container">
    <img src="static/images/logo.jpg" height="51px" align="left">
    <ul>
        <li><a href="{{ url_for('index') }}">网站首页</a></li>
        <li id="m_about"><a href="{{ url_for('about2021') }}">关于协会</a>
            <div class="navbox abtnav">
                <div class="navlist">
                    <span class="navsj"></span>
                    <div class="navl fl">
                        <h2>关于协会</h2>
                        <dl>
                            <dd class="bd1" onmousemove="showbyid('rig1')"><a href="{{ url_for('about2021') }}">协会简介</a></dd>
                            <dd class="bd1" onmousemove="showbyid('rig2')"><a href="#">协会章程</a></dd>
                            <dd class="bd1" onmousemove="showbyid('rig3')"><a href="#">组织结构</a></dd>
                            <dd class="bd1" ><a href="#">入会须知</a></dd>
                        </dl>
                    </div>
                    <div class="navc fl" id="rig1" style="display:none">
                        <h3>协会简介</h3>
                        <p>上海思维科学研究会</p>
                        <a class="more" href="/about/0_1/">更多》</a>
                    </div>

                    <div class="navc fl" id="rig2" style="display:none">
                        <h3>协会章程</h3>
                        <p></p>
                        <a class="more" href="/about/0_2/">更多》</a>
                    </div>

                    <div class="navc fl" id="rig3" style="display:none">
                        <h3>组织结构</h3>
                        <!-- <p><img class="navczjg" src="images/zzjg.png" alt="组织结构图" /> -->
                            <a class="more" href="#">更多》</a>
                        </p>
                    </div>

                    <script>

                        function showbyid(bid) {
                            document.getElementById("rig1").style.display = "none";
                            document.getElementById("rig2").style.display = "none";
                            document.getElementById("rig3").style.display = "none";
                            document.getElementById(bid).style.display = "block";
                        }


                    </script>
                </div>
            </div>
        </li>
        <li id="m_news"><a href="{{ url_for('information') }}">信息中心</a></li>
        <li><a href="{{ url_for('contact') }}">联系我们</a></li>
    </ul>

</div>
</div>
</nav>

<!-- 轮播-->
<script type="text/javascript" src="static/js/jcarousellite_index.js"></script>
<div class="index_banner container" id="banner_tabs">
    <ul>
        <li class="second"><a href="#" target="_blank"></a></li>
        <li class="first"><a href="#" target="_blank"></a></li>
    </ul>
    <cite><span class="cur">1</span><span>2</span></cite> </div>
<script src="static/js/portal.js" type="text/javascript"></script>

<!-- 第二层-->
<div class="second container">
    <!-- 小轮播-->
    <div class="banlbox fl">
        <div class="focusBox" style="margin:0 auto">
            <ul class="pic">
                <li><a href="#" target="_blank" title=""><img src="static/images/lunbo1.png" alt="上海思维科学研究会" /></a></li>
                <li><a href="#" target="_blank" title=""><img src="static/images/lunbo2.png" alt="上海思维科学研究会" /></a></li>
                <li><a href="#" target="_blank" title=""><img src="static/images/lunbo3.png" alt="上海思维科学研究会" /></a></li>
            </ul>
            <div class="txt-bg"></div>
            <div class="txt">
                <ul>
                    <li><a href="#">上海思维科学研究会</a></li>
                    <li><a href="#">上海思维科学研究会</a></li>
                    <li><a href="#">上海思维科学研究会</a></li>
                </ul>
            </div>
            <ul class="num">
                <li><a>1</a><span></span></li><li><a>2</a><span></span></li><li><a>3</a><span></span></li>
            </ul>
        </div>
    </div>
    <!--右边列表-->
    <div class="banrbox fl">
        <ul class="tabs">
            <li><a href="javascript:void(0);">通知公告</a></li>
            <li><a href="javascript:void(0);">协会动态</a></li>
            <li><a href="javascript:void(0);">行业新闻</a></li>
        </ul>
        <div class="panes">
            <div>
                <ul>
                    <li><a href="{{url_for('about2021')}}" alt='' title=''>关于2021年CCNS会议...<span>2021-11-19</span></a></li>
                    <li ><a href="{{ url_for('about') }}" alt=''>关于2020年上海思维科学...<span>2020-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2019年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2018年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2017年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2016年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2015年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2014年CCNS举办...<span>2019-08-29</span></a></li>
                </ul>
                <!--<a href="#" class="more">查看更多》</a>-->
            </div>
            <div>
                <ul>
                    <li><a href="{{url_for('about2021')}}" alt='' title=''>关于2021年CCNS会议...<span>2021-11-19</span></a></li>
                    <li ><a href="{{ url_for('about') }}" alt=''>关于2020年上海思维科学...<span>2020-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2019年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2018年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2017年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2016年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2015年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2014年CCNS举办...<span>2019-08-29</span></a></li>
                </ul>
                <!--<a href="#" class="more">查看更多》</a>-->
            </div>
            <div>
                <ul>
                    <li><a href="{{url_for('about2021')}}" alt='' title=''>关于2021年CCNS会议...<span>2021-11-19</span></a></li>
                    <li ><a href="{{ url_for('about') }}" alt=''>关于2020年上海思维科学...<span>2020-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2019年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2018年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2017年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2016年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2015年CCNS举办...<span>2019-08-29</span></a></li>
                    <li ><a href="#" alt='' title=''>关于2014年CCNS举办...<span>2019-08-29</span></a></li>

                </ul>
                <!--<a href="#" class="more">查看更多》</a>-->
            </div>

        </div>
    </div>
</div>

<!--第五层-->
<div class="five container">
    <!--会员中心-->
    <div class="idxmb fl">
        <div class="tit">
            <h2>会员中心</h2>
            <!--<a href="/membernews/801/" class="more">更多》</a>-->
        </div>
        <div class="border">
        <div class="idxmbl fl">
            <ul id="main_navi" class="fr">
                <li class="active"><img src="static/images/lunbo1.png"></li>
                <li class=""><img src="static/images/lunbo2.png"></li>
                <li class=""><img src="static/images/lunbo3.png"></li>
            </ul>
            <div id="idxmb_main">
                <div id="pages" style="top: -222px;">
                    <div class="page cloned"><a href="#" title="上海思维科学会议" target="_blank"><img src="static/images/lunbo1.png" alt="上海思维科学会议"><p class="at_hide">上海思维科学会议</p><span></span></a></div>
                    <div class="page"><a href="#" title="上海思维科学会议" target="_blank"><img src="static/images/lunbo2.png" alt="上海思维科学会议"><p class="at_hide">上海思维科学会议</p><span></span></a></div>
                    <div class="page"><a href="#" title="上海思维科学会议" target="_blank"><img src="static/images/lunbo3.png" alt="上海思维科学会议"><p class="at_hide">上海思维科学会议</p><span></span></a></div>
                    <div class="page"><a href="#" title="上海思维科学会议" target="_blank"><img src="static/images/lunbo1.png" alt="上海思维科学会议"><p class="at_hide">上海思维科学会议</p><span></span></a></div>
                    <div class="page cloned"><a href="#" title="上海思维科学会议" target="_blank"><img src="static/images/lunbo2.png" alt="上海思维科学会议"><p class="at_hide">上海思维科学会议</p><span></span></a></div></div>
            </div>
        </div>
        <div class="idxmbr fr">
            <dl style="text-align: center;">
                <dt><i><img src="static/images/line_red.png"> </i><span>会员风采</span></dt>
                <dd class="clr"><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>
                <dd><a href="#" title="上海思维科学会议" target="_blank">上海思维科学会议...</a><span>2021-08-29</span></dd>

            </dl>
        </div>
        </div>

    </div>
    <!--政策法规-->
    <div class="idxls fr">
        <div class="tit">
            <h2>政策法规</h2>
            <!--<a href="#" class="more">更多》</a>-->
        </div>
        <div class="txtMarquee-top">
            <div class="bd">
                <ul class="auto_hide infoList">
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                    <li><a href="#" title="2021CCNS举办" target="_blank">2021CCNS举办</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<footer id="footer">
    <div class="fttool">
        <div class="container">
        </div>
    </div>
    <div class="ftbt container">
        <div class="ftbt_left fl">
            <p>上海思维科学研究会  版权所有</p>
            <p>地址：上海市浦东新区</p>
            <p>联系方式：123456</p>
        </div>
        <div class="ftbt_right fr">
            <p>客服QQ：2295956241</p>
            <p>邮箱：123456@126.com</p>
        </div>
        <div class="middle fr"><img src="static/images/weixin.jpg" width="90" height="90"> </div>
    </div>
    <div class="copyright container">
        Copyright © 2021 womengda.cn All rights reserved.&nbsp;&nbsp;&nbsp;沪ICP备15048364号-1&nbsp;&nbsp;&nbsp;技术支持：上海思维科学研究会
    </div>
</footer>

</body>
</html>