<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
</head>

<body>
<div class="topBox">
  <div class="l"><p class="ccsl">欢迎来到某某教育协会官网</p></div>
  <div class="r"><p class="ccsl">联系电话：123-4567-8910</p></div>
</div>
<div class="clear"></div>
<div class="headerBox">
  <div class="logo">
    <a href="index.html"><img src="images/logo.png" /></a>
  </div>
  <div class="nav">
    <ul>
      <li>
        <div class="navOne"><a href="index.html">协会首页</a></div>
      </li>
      <li>
        <div class="navOne"><a href="list.html">协会概况</a></div>
        <div class="navTwo">
          <a href="list.html">协会简介</a> 
          <a href="list.html">协会章程</a>
          <a href="list.html">领导寄语</a>
          <a href="list.html">协会领导</a>
          <a href="list.html">组织架构</a>
          <a href="list.html">联系我们</a>
        </div>
      </li>
      <li>
        <div class="navOne"><a href="list.html">协会动态</a></div>
      </li>
      <li>
        <div class="navOne"><a href="list.html">会员服务</a></div>
        <div class="navTwo">
          <a href="list.html">会员服务</a> 
          <a href="list.html">入会流程</a>
          <a href="list.html">入会申请</a>
          <a href="list.html">常务理事单位</a>
          <a href="list.html">理事单位</a>
          <a href="list.html">会员单位</a>
        </div>
      </li>
      <li>
        <div class="navOne"><a href="list.html">培训服务</a></div>
      </li>
      <li>
        <div class="navOne"><a href="piclist.html">协会领奖</a></div>
      </li>
      <li>
        <div class="navOne"><a href="check.html">证书查询</a></div>
      </li>
      <li>
        <div class="navOne"><a href="list.html">分支机构</a></div>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="banner">
  <div class="b-img">
      <img src="images/banner.jpg" width="100%"/>
      <img src="images/banner.jpg" width="100%" />
  </div>
  <div class="clear"></div>
  <div class="b-list"> </div>
</div>
<div class="clear"></div>
<div class="mainWarp">
  <div class="mainLeft">
    <div class="titbox">
      <p class="ccsl">证书查询</p>
    </div>
    <ul>
      <li class="active"><a href="check.html" class="ccsl">学员证书查询</a></li>
      <li><a href="check.html" class="ccsl">教师认证查询</a></li>
      <li><a href="check.html" class="ccsl">机构证书查询</a></li>
    </ul>
  </div>
  <div class="mainRight">
    <div class="brandnavbox">
      <div class="con">当前位置：首页》证书查询》学员证书查询</div>
    </div>
    <div class="detailbox">
      <div class="tit">某某学员证书查询</div>
      <div class="date">2019年 6月4日 8:20</div>
      <div class="img"><img src="images/11.jpg" /></div>
      <a href="javascript:history.go(-1)">返回上页</a>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="footerBox">
  <div class="main">
    <div class="ftItem">
      <p class="ccsl">协会首页</p>
    </div>
    <div class="ftItem">
      <p class="ccsl">协会概况</p>
      <ul>
        <li><a href="list.html" class="ccsl">协会简介</a></li>
        <li><a href="list.html" class="ccsl">协会章程</a></li>
        <li><a href="list.html" class="ccsl">领导寄语</a></li>
        <li><a href="list.html" class="ccsl">协会领导</a></li>
        <li><a href="list.html" class="ccsl">组织架构</a></li>
        <li><a href="list.html" class="ccsl">联系我们</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">协会动态</p>
      <ul>
        <li><a href="list.html" class="ccsl">行业快讯</a></li>
        <li><a href="list.html" class="ccsl">协会公告</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">会员服务</p>
      <ul>
        <li><a href="list.html" class="ccsl">会员服务</a></li>
        <li><a href="list.html" class="ccsl">入会流程</a></li>
        <li><a href="list.html" class="ccsl">入会申请</a></li>
        <li><a href="list.html" class="ccsl">常务理事单位</a></li>
        <li><a href="list.html" class="ccsl">理事单位 </a></li>
        <li><a href="list.html" class="ccsl">会员单位</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">培训服务</p>
      <ul>
        <li><a href="list.html" class="ccsl">公益培训</a></li>
        <li><a href="list.html" class="ccsl">网络培训 </a></li>
        <li><a href="list.html" class="ccsl">认证培训</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">协会奖项</p>
      <ul>
        <li><a href="list.html" class="ccsl">突出贡献奖</a></li>
        <li><a href="list.html" class="ccsl">教育创新奖</a></li>
        <li><a href="list.html" class="ccsl">优质机构奖</a></li>
        <li><a href="list.html" class="ccsl">获奖名单</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">证书查询</p>
      <ul>
        <li><a href="list.html" class="ccsl">学员证书查询</a></li>
        <li><a href="list.html" class="ccsl">教师认证查询</a></li>
        <li><a href="list.html" class="ccsl">机构证书查询</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">分支机构</p>
      <ul>
        <li><a href="list.html" class="ccsl">认证中心</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <div class="main">
    <div class="con">版权所有@某某教育协会      |      地址：河北省石家庄市怀特写字楼D座      |      邮编：100000      |      邮箱：1234567891234@126.com      |      冀ICP备12345678号      |      电话：123 - 4567 - 8910</div>
  </div>
</div>
</body>
</html>
