<div class="clear"></div>
<div class="footerBox">
  <div class="main">
    <div class="ftItem">
      <p class="ccsl"><a href="{{url_for('home.index')}}">学会首页</a></p>
    </div>
    <div class="ftItem">
      <p class="ccsl">学会概况</p>
      <ul>
        <li><a href="{{url_for('home.swkx')}}" class="ccsl">学会简介</a></li>
        <li><a href="{{url_for('home.rules')}}" class="ccsl">学会章程</a></li>
        <li><a href="#" class="ccsl">学会领导</a></li>
        <li><a href="{{url_for('home.contactUs')}}" class="ccsl">联系我们</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">协会动态</p>
      <ul>
        <li><a href="{{url_for('home.conference', page = 1)}}" class="ccsl">学会会议</a></li>
        <li><a href="{{url_for('home.index')}}" class="ccsl">学会公告</a></li>
      </ul>
    </div>
    <div class="ftItem">
      <p class="ccsl">会员服务</p>
      <ul>
        <li><a href="#" class="ccsl">会员服务</a></li>
        <li><a href="#" class="ccsl">入会流程</a></li>
        <li><a href="#" class="ccsl">入会申请</a></li>
        <li><a href="#" class="ccsl">常务理事单位</a></li>
        <li><a href="#" class="ccsl">理事单位 </a></li>
        <li><a href="#" class="ccsl">会员单位</a></li>
      </ul>
    </div>
    <div class="ftItem">
    </div>
    <div class="ftItem">
      <p class="ccsl">分支机构</p>
      <ul>
        <li><a href="#" class="ccsl">认证中心</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <div class="main">
    <div class="con">版权所有@上海市思维科学研究会      |      地址：上海市上海海事大学      |      邮编：201306      |      邮箱：shanghaiswkx@163.com      |      沪ICP备2021029169号      |      电话：021 - 38282845</div>
  </div>
</div>
<div class="event" id="tcbox_box" style="display: none;">
  <div class="tcbox">
    <div class="title"> <span class="t_txt">证书</span> <span class="del" onClick="deleteTc()">X</span> </div>
    <div class="tit">某某学员证书查询</div>
    <div class="date">2019年 6月4日 8:20</div>
    <div class="img"><img src="images/11.jpg"></div>
  </div>
</div>
</body>
</html>