<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget single-bg">
                    <a href="{{ url_for('home.index') }}" class="logo">
                        <img src="{{ url_for('static',filename='home/module_assets/images/logo.jpg') }}" alt="Image">
                    </a>

                    <p>上海市思维科学研究会成立于2012年9月,挂靠上海海事大学。</p>

                    <ul class="social-icon">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>联系我们</h3>

                    <ul class="address">
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <span>电话:</span>
                            <a href="tel:021-38282845">021 - 38282845</a>
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <span>邮箱:</span>
                            <a href="mailto:shanghaiswkx@163.com">shanghaiswkx@163.com</a>
                        </li>
                        <li class="location">
                            <i class="bx bx-location-plus"></i>
                            <span>地址:</span>
                            上海市上海海事大学
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>常用链接</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">创建账号</a>
                        </li>
                        <li>
                            <a href="#">提交论文</a>
                        </li>
                        <li>
                            <a href="#">近期会议</a>
                        </li>
                        <li>
                            <a href="#">关于我们</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>模型相关</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">最新模型</a>
                        </li>
                        <li>
                            <a href="#">数据集</a>
                        </li>
                        <li>
                            <a href="#">最新论文</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <p>
            版权所有©上海市思维科学研究会      |      邮编：201306      |      
            <a href="#">沪ICP备2021029169号</a>
        </p>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->


<!-- Jquery Min JS -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<!-- Popper Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/popper.min.js') }}"></script>
<!-- Bootstrap Min JS -->
<script src="https://www.jq22.com/jquery/bootstrap-4.2.1.js"></script>
<!-- Meanmenu Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/meanmenu.min.js') }}"></script>
<!-- Wow Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/wow.min.js') }}"></script>
<!-- Owl Carousel Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/owl.carousel.min.js') }}"></script>
<!-- Nice Select Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/nice-select.min.js') }}"></script>
<!-- Magnific Popup Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/magnific-popup.min.js') }}"></script>
<!-- Mixitup JS --> 
<script src="{{ url_for('static',filename='home/module_assets/js/jquery.mixitup.min.js') }}"></script>
<!-- Appear Min JS --> 
<script src="{{ url_for('static',filename='home/module_assets/js/appear.min.js') }}"></script>
<!-- Odometer Min JS --> 
<script src="{{ url_for('static',filename='home/module_assets/js/odometer.min.js') }}"></script>
<!-- Range Slider Min JS --> 
<script src="{{ url_for('static',filename='home/module_assets/js/range-slider.min.js') }}"></script>
<!-- Datepicker Min JS --> 
<script src="{{ url_for('static',filename='home/module_assets/js/bootstrap-datepicker.min.js') }}"></script>
<!-- Form Validator Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/form-validator.min.js') }}"></script>
<!-- Contact JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/contact-form-script.js') }}"></script>
<!-- Ajaxchimp Min JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/ajaxchimp.min.js') }}"></script>
<!-- Custom JS -->
<script src="{{ url_for('static',filename='home/module_assets/js/custom.js') }}"></script>