{% include './home/TopBox.html' %}

<div class="clear"></div>
<div class="banner">
  <div class="b-img">
      <img src="{{ url_for('static',filename='home/images/2021.PNG') }}" width="100%"/>
  </div>
  <div class="clear"></div>
  <div class="b-list"> </div>
</div>
<div class="clear"></div>
<div class="mainWarp">
  <div class="mainLeft">
    <div class="titbox">
      <p class="ccsl">学会概况</p>
    </div>
    <ul>
      <li><a href="{{url_for('home.swkx')}}" class="ccsl">学会简介</a></li>
      <li class="active"><a href="{{url_for('home.rules')}}" class="ccsl">学会章程</a></li>
      <li><a href="#" class="ccsl">学会领导</a></li>
      <li><a href="{{url_for('home.contactUs')}}" class="ccsl">联系我们</a></li>
    </ul>
  </div>
  
  <div class="mainRight">
    <div class="brandnavbox">
      <div class="con">当前位置：首页》学会概况》学会章程</div>
    </div>
    <div class="detailbox">
      <h1>上海思维科学研究会</h1>
      <div>
        <p><b>第一章 总则</b></p>

<p>        第一条 本协会名称为上海思维科学研究会，英文名称为Shanghai Association of Noetic Science，英文缩写为SANS。本协会坚持中国共产党的全面领导，根据中国共产党章程的规定，设立中国共产党的组织，开展党的活动，为党组织的活动提供必要条件。遵守宪法、法律、法规和国家政策，践行社会主义核心价值观，遵守社会道德风尚。
</p>        
<p>        第二条 本协会是由中国思维科学领域专家学者、知名人士、相关机构和企业等自愿参加组成的全国性、非营利性社会组织，具有社团法人资格。
</p>        
<p>        第三条 本协会宗旨：团结本市思维科学工作者，遵守国家的法律、法规和政策，维护社会道德风尚，努力从事思维科学的理论研究和和实践应用，为思维科学的学术发展、为提高民族的创造能力和智力品质而努力
</p>        
<p>        第四条 本协会接受业务主管单位上海市社会科学界联合会和社团登记管理机关民政部的业务指导和监督管理。</p>
        <p>       
        第五条 本协会住所：上海市。</p>
        <p><b>
        第二章 业务范围</b></p>
        <p>
        第六条 本协会的业务范围：</p>
        <p>
        （一）致力于思维科学的理论研究和实践探索，提供信息咨询；</p>
        <p>
        （二）举办讲座、采访、研讨会、受政府有关部门委托举办的展览等各类思维科学文化活动，组织国内外媒体、青年、学者、民间团体互访或进行其他交流活动，与企业、基金会等机构或个人合作开展社会公益活动；</p>
        <p>
        （三）与国内外思维科学研究协会、高校、研究机构等开展对口交流与合作；</p>
        
        <p>        （四）为我国思维科学研究事业提供人才培训。
        </p>
        <p><b>      第三章 会员</b>
        </p>
            <p>        第七条 本协会由单位会员和个人会员组成。
            </p>
            <p>        第八条 申请加入本协会的会员须具备下列条件：
            </p>
            <p>（一）拥护本协会章程；
            </p>
            <p>        （二）有加入本协会的意愿；
            </p>
            <p>（三）在本协会的业务领域内具有一定的影响；
            </p>
            <p>（四）热心支持本协会活动。
            </p>
            <p>第九条 会员入会的程序：
            </p>
            <p>（一）提交入会申请书；
            </p>
            <p>（二）经理事会或常务理事会讨论通过；
            </p>
            <p>（三）由理事会或理事会授权的机构颁发会员资格证书。
            </p>
            <p>第十条 会员享有下列权利：
            </p>
            <p>（一）本协会的选举权、被选举权和表决权；
            </p>
            <p>（二）参加本协会的活动；
            </p>
            <p>（三）获得本协会服务的优先权；
            </p>
            <p>（四）对本协会工作的批评建议权和监督权；
            </p>
            <p>（五）入会自愿、退会自由。
            </p>
            <p>第十一条 会员履行下列义务：
            </p>
            <p>（一）遵守本协会的章程，执行本协会的决议；
            </p>
            <p>（二）维护本协会的合法权益；
            </p>
            <p>（三）完成本协会交办的工作；
            </p>
            <p>（四）按规定交纳会费；
            </p>
            <p>（五）向本协会反映情况，并提供有关资料。
            </p>
            <p>第十二条 会员退会应书面通知本协会，并交回会员资格证书。会员2年以上不交纳会费的，视为自动退会。
            </p>
            <p>第十三条 会员如有严重违反本章程的行为，经理事会或常务理事会表决通过，予以除名。
            </p>
            <p><b>第四章 组织机构和负责人的产生、罢免</b>
            </p>
            <p>第十四条 本协会最高权力机构是会员大会，会员大会的职权是：
            </p>
            <p>（一）制定和修改章程；
            </p>
            <p>（二）选举和罢免理事；
            </p>
            <p>（三）审议理事会的工作报告和财务报告；
            </p>
            <p>（四）制定和修改会费标准；
            </p>
            <p>（五）决定本协会终止事宜；
            </p>
            <p>（六）决定其他重大事宜。
            </p>
            <p>第十五条 会员大会须有2/3以上的会员出席方能召开，其决议须经到会会员半数以上表决通过方能生效。
            </p>
            <p>第十六条 会员大会每5年召开一次。
            </p>
            <p>第十七条 理事会是会员大会的执行机构，在会员大会闭会期间领导本协会开展日常工作，对会员大会负责。 理事会每届5年。因特殊情况需提前或延期换届的，须由理事会表决通过，报外交部审查并经民政部批准。延期换届最长不超过1年。
            </p>
            <p>第十八条 理事会的职权是：
            </p>
            <p>（一）执行会员大会的决议；
            </p>
            <p>（二）选举和罢免会长、副会长、秘书长、常务理事；
            </p>
            <p>（三）筹备召开会员大会；
            </p>
            <p>（四）向会员大会报告工作和财务状况；
            </p>
            <p>（五）决定会员的吸收或除名；
            </p>
            <p>（六）决定办事机构、分支机构、代表机构和实体机构的设立、注销和更名；
            </p>
            <p>（七）决定副秘书长、各机构主要负责人的聘任；
            </p>
            <p>（八）领导本协会各机构开展工作；
            </p>
            <p>（九）制定内部管理制度；
            </p>
            <p>（十）决定其他重大事项。
            </p>
            <p>第十九条 理事会须有2/3以上理事出席方能召开，其决议须经到会理事2/3以上表决通过方能生效。
            </p>
            <p>第二十条 理事会每年至少召开一次会议，情况特殊的，可采取通讯形式召开。
            </p>
            <p>第二十一条 本协会设立常务理事会。常务理事会由理事会选举产生，在理事会闭会期间行使第十八条第一、三、五、六、七、八、九项的职权，对理事会负责。常务理事人数不超过理事人数的1/3。
            </p>
            <p>第二十二条 常务理事会须有2/3以上常务理事出席方能召开，其决议须经到会常务理事2/3以上表决通过方能生效。
            </p>
            <p>第二十三条 常务理事会至少半年召开一次会议，情况特殊的，可采用通讯形式召开。
            </p>
            <p>第二十四条 本协会的会长、副会长、秘书长必须具备下列条件：
            </p>
            <p>（一）坚持党的路线、方针、政策、政治素质好；
            </p>
            <p>（二）在本协会业务领域内有较大影响；
            </p>
            <p>（三）最高任职年龄不超过70周岁，秘书长为专职；
            </p>
            <p>（四）身体健康，能坚持正常工作；
            </p>
            <p>（五）未受过剥夺政治权利的刑事处罚；
            </p>
            <p>（六）具有完全民事行为能力。
            </p>
            <p>第二十五条 本协会会长、副会长、秘书长如超过最高任职年龄的，须经理事会表决通过，报外交部审查并经民政部批准后，方可任职。
            </p>
            <p>第二十六条 本协会会长、副会长、秘书长每届任期5年，连任不超过两届。因特殊情况需延长任期的，须经会员大会2/3以上会员表决通过，报外交部审查并经民政部批准后，方可任职。
            </p>
            <p>第二十七条 协会会长为本协会的法定代表人。法定代表人代表本协会签署有关重要文件。本协会法定代表人不兼任其他团体的法定代表人。
            </p>
            <p>第二十八条 本协会会长行使下列职权：
            </p>
            <p>（一）召集和主持理事会和常务理事会；
            </p>
            <p>（二）检查会员大会、理事会和常务理事会决议的落实情况；
            </p>
            <p>（三）对外代表本协会与各有关单位开展工作；
            </p>
            <p>（四）对外代表本协会开展国际交流与合作。
            </p>
            <p>第二十九条 本协会秘书长行使下列职权：
            </p>
            <p>（一）主持协会秘书处开展日常工作，组织实施年度工作计划；
            </p>
            <p>（二）协调各分支机构、代表机构、实体机构开展工作；
            </p>
            <p>（三）提名副秘书长以及各机构主要负责人，交理事会或常务理事会决定；
            </p>
            <p>（四）决定办事机构、代表机构、实体机构专职工作人员的聘用；
            </p>
            <p>（五）处理其他日常事务。
            </p>
            <p><b>第五章 资产管理、使用原则</b>
            </p> 
            <p>第三十条 本协会经费来源：
            </p>
            <p>（一）会费；
            </p>
            <p>（二）社会捐赠；</p>
        
            <p>（三）政府资助；
            </p>
            <p>（四）在核准的业务范围内开展活动和服务的收入；
            </p>
            <p>（五）利息；
            </p>
            <p>（六）其他合法收入。
            </p>
            <p>第三十一条 本协会按照国家有关规定收取会员会费。
            </p>
            <p>第三十二条 本协会经费必须用于本章程规定的业务范围和事业的发展，不得在会员中分配。
            </p>
            <p>第三十三条 本协会建立严格的财务管理制度，保证会计资料合法、真实、准确、完整。
            </p>
            <p>第三十四条 本协会配备具有专业资格的会计人员。会计不得兼任出纳。会计人员必须进行会计核算，实行会计监督。会计人员调动工作或离职时，必须与接管人员办清交接手续。
            </p>
            <p>第三十五条 本协会的资产管理必须执行国家规定的财务管理制度，接受会员大会和财政部门的监督。资产来源属于政府资助或者社会捐赠、资助的，必须接受审计机关的监督，并将有关情况以适当方式向社会公布。
            </p>
            <p>第三十六条 本协会换届或更换法定代表人之前必须接受民政部和外交部认可的审计机构组织的财务审计。
            </p>
            <p>第三十七条 本协会的资产，任何单位、个人不得侵占、私分和挪用。
            </p>
            <p>第三十八条 本协会专职工作人员的工资和保险、福利待遇，参照国家对事业单位的有关规定执行。
            </p>
            <p><b>第六章 章程的修改程序</b>
            </p>
            <p>第三十九条 对本协会章程的修改，须经理事会表决通过后报会员大会审议。
            </p>
            <p>第四十条 本协会修改的章程，须在会员大会通过后15日内，报外交部审查，经同意，报民政部核准后生效。
            </p>
            <p><b>第七章 终止程序及终止后的财产处理</b>
            </p>
            <p>第四十一条 本协会完成宗旨或自行解散或由于分立、合并等原因需要注销的，由理事会或常务理事会提出终止动议。
            </p>
            <p>第四十二条 本协会终止动议须经会员大会表决通过，并报外交部审查同意。
            </p>
            <p>第四十三条 本协会终止前，须在外交部及有关机关指导下成立清算组织，清理债权债务，处理善后事宜。清算期间，不开展清算以外的活动。
            </p>
            <p>第四十四条 本协会经民政部办理注销登记手续后即为终止。
            </p>
            <p>第四十五条 本协会终止后的剩余财产，在外交部和民政部的监督下，按照国家有关规定，用于发展与本协会宗旨相关的事业。
            </p>
            <p><b>第八章 附则</b>
            </p>
            <p>第四十六条 本章程2012年12月31日第一次会员大会表决通过，2014年12月26日、2018年12月20日修订。
            </p>
            <p>第四十七条 本章程的解释权属本协会的理事会。
            </p>
            <p>第四十八条 本章程自民政部核准之日起生效。
            </p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{% include './home/footBox.html' %}